extends layout

block content
    h1=title
    div#form
        form(action="/new" method="POST")
            
                label(for="name") Name
                input(type="text", name="name")
            
                label(for="message") Message
                textarea(name="message")
            
                input(type="submit", value="Submit")